In [1]:
from xbbg import blp
import pdblp
import workdays
import datetime
import pandas as pd
pd.set_option('display.max_columns', 70)
con = pdblp.BCon(timeout=5000)
con.start()

LS = ["ES","NQ","TP"]
T = [x+"1 Index" for x in LS]

    
d_from = workdays.workday(datetime.datetime.today(), days=-260).strftime("%Y%m%d")
d_to = workdays.workday(datetime.datetime.today(), days=-1).strftime("%Y%m%d")


BDH = con.bdh(T, ["px_open","px_last"], d_from, d_to).reset_index()
#BDH = con.bdh(T, ["px_open","px_last"], d_from, d_to, elms = [("periodicitySelection","MONTHLY")]  ).reset_index()  #Monthly
#BDH = con.bdh(T, ["px_open","px_last"], d_from, d_to, 
#        elms = [("nonTradingDayFillOption","NON_TRADING_WEEKDAYS"),("nonTradingDayFillMethod","PREVIOUS_VALUE")] ).reset_index()
# DAILY
# WEEKLY
# MONTHLY
# QUARTERLY
# SEMI_ANNUALLY
# YEARLY
# https://data.bloomberglp.com/labs/sites/2/2013/12/blpapi-developers-guide-1.38.pdf
# https://data.bloomberglp.com/professional/sites/10/2017/03/BLPAPI-Core-Developer-Guide.pdf

BDH[[BDH.columns[0][0]]+T].head()

ticker       date ES1 Index          NQ1 Index           TP1 Index
field               px_open  px_last   px_open   px_last   px_open px_last
0      2022-09-26   3849.74  3813.12  11892.14  11843.74    1856.4  1797.9
1      2022-09-27   3811.04  3803.77  11842.95  11862.05    1808.7  1803.8
2      2022-09-28   3811.56  3877.53  11890.57  12094.40    1808.7  1783.8
3      2022-09-29   3875.72  3796.75  12082.10  11751.63    1779.9  1815.5
4      2022-09-30   3799.09  3741.95  11743.00  11549.90    1805.3  1790.1

In [2]:
BDH = blp.bdh(T, ["px_open","px_last"], d_from, d_to).reset_index()
BDH

          index ES1 Index          NQ1 Index           TP1 Index
                  px_open  px_last   px_open   px_last   px_open px_last
0    2022-09-26   3849.74  3813.12  11892.14  11843.74    1856.4  1797.9
1    2022-09-27   3811.04  3803.77  11842.95  11862.05    1808.7  1803.8
2    2022-09-28   3811.56  3877.53  11890.57  12094.40    1808.7  1783.8
3    2022-09-29   3875.72  3796.75  12082.10  11751.63    1779.9  1815.5
4    2022-09-30   3799.09  3741.95  11743.00  11549.90    1805.3  1790.1
..          ...       ...      ...       ...       ...       ...     ...
254  2023-09-18   4499.50  4501.50  15382.25  15414.50       NaN     NaN
255  2023-09-19   4503.25  4490.00  15424.25  15375.25    2407.5  2412.5
256  2023-09-20   4491.25  4447.00  15375.25  15152.00    2417.0  2389.0
257  2023-09-21   4445.00  4372.00  15133.25  14862.75    2390.0  2363.0
258  2023-09-22   4370.25  4361.00  14854.50  14869.50    2363.0  2358.5

[259 rows x 7 columns]